.cards {
    background-color: var(--surface-dp01);

    color: var(--on-surface);

    border-radius: 15px;


    padding-inline: var(--sp-2xs);
    padding-block: var(--sp-3xs);

    //margin-inline: auto;

    img {
        width: 100%;
    }
    h4 {
        margin-block: var(--sp-l);
    }
    p {
        font-size: var(--d--2);
    }

    .redirectButtons{
        display: flex;
        gap:1em;
        height: var(--sp-x);
    }
}