.form-input-container {
	font-size: 1rem;

	position: relative;

	margin-block: 1rem;

	width: 30rem;
	height: 3.5rem;

	border-radius: 5px 5px 0 0;

	overflow: hidden;
}

.form-input-label {
	font-size: 1rem;

	position: absolute;
	width: 100%;
	height: 100%;

	// transform: translate(1rem, 50%);
	z-index: 1;
	white-space: nowrap;

	pointer-events: none;
	//border: 1px solid red;
	top: -1px;

	border-bottom: 1px solid var(--primary-dp01);

	&::after {
		position: absolute;
		left: 0;
		bottom: 0;

		content: "";
		width: 100%;
		height: 100%;
		top: -2px;
		border-bottom: 3px solid var(--primary--dp02);

		transition: transform 0.3s ease;

		transform: translateX(-100%);
	}
}

.label-name {
	position: absolute;
	transform: translate(1rem, 80%);
	color: var(--on-surface);
	transition: all 0.3s ease;
}

.form-input {
	font-size: 1rem;
	background-color: var(--surface-dp01);
	color: var(--on-surface);
	border: none;
	padding-inline: 1rem;
	padding-top: 1rem;

	height: 100%;
	width: 100%;

	position: absolute;

	box-sizing: border-box;
	&:hover,
	&:focus {
		background-color: var(--surface-dp02);
	}

	&:focus,
	&.filled {
		outline: none;

		& ~ .form-input-label {
			.label-name {
				transform: translate(1rem, 0%);
				font-size: 0.9rem;
				font-weight: 300;
			}
			&::after {
				z-index: 2;
				transform: translateX(0%);
			}
		}
	}

	&.email {
		&.filled:invalid {
			& ~ .form-input-label {
				.label-name {
					color: var(--error);
					font-weight: 400;
				}
				&::after {
					border-color: var(--error) !important;
				}
			}
		}
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-transition-delay: 99999s;
}