.home-page {
	height: 100vh;
	width: 80vw;
	text-align: center;
	padding: 30vh 10vw  ;
	margin: auto;
	font-size: 30px;
	background: center no-repeat 
		url(https://unsplash.com/photos/DjlKxYFJlTc/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ5NTAzNTk1&force=true&w=2400);
}
