.past-work {
	height: 10em;
	width: 80vw;
	text-align: center;
	padding: 30vh 10vw;
	margin: auto;
	font-size: 30px;
	background: center no-repeat
		url(https://unsplash.com/photos/iYO-EGosrCo/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ5NTA5MDc3&force=true&w=2400);
	background-position: center;
}
