input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
}
textarea {
	resize: none;
}

.form-input-container.textarea {
	height: 8rem;
}

.contact-form-submit {
	width: 30rem;
	height: 3rem;
}

.result {
	margin-block: 1rem;
	display: flex;
	justify-content: center;
	width: 100%;
	p {
		font-size: 1.2rem;
		max-width: 30rem;
		text-align: center;
		white-space: wrap;
	}
	.error {
		color: var(--error);
		font-size: 1.5rem;
	}
	.success {
		font-size: 1.5rem;
		color: var(--secondary);
	}
}

/* From uiverse.io by @satyamchaudharydev */
.loader {
	margin-block: 1rem;
	--height-of-loader: 4px;
	--loader-color: #0071e2;
	width: 16rem;
	height: var(--height-of-loader);
	border-radius: 30px;
	background-color: rgba(0, 0, 0, 0.2);
	position: relative;
}

.loader::before {
	content: "";
	position: absolute;
	background: var(--secondary);
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	border-radius: 30px;
	animation: moving 1s ease-in-out infinite;
}

@keyframes moving {
	50% {
		width: 100%;
	}

	100% {
		width: 0;
		right: 0;
		left: unset;
	}
}
