.home-landing {

	height: min(100vh, 1080px);

	text-align: center;

	background-image: url(../../assets/IMG_0070.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center ;
	background-attachment: fixed;

	.header-banner {
		margin: 0 auto;
		max-width: 980px;
		text-align: center;
		padding-inline: (var(--sp-m));
		padding-block: calc(var(--sp-2xl-3xl) + 2rem);

		h1 {
			font-size: var(--d-3);
			letter-spacing: -1px;
		}
		h3 {
			font-weight: 300;
			font-size: var(--d-0);
		}
	}
}

@media (max-width: 350px) {
	.header-banner {
		padding-inline: 0 !important;
	}
	h3 {
		padding-inline: 0 !important;
		backdrop-filter: blur(2rem);
	}
}
