.NavBar {
	position: fixed;
	top: 0;
	right: 0;
	font-size: 1.1em;
	z-index: 100;
	display: flex;
	padding: 15px 0px;
	align-items: center;
	justify-content: flex-end;
}

.mobile-nav-toggle {
	display: none;
}
#primary-navigation {
	display: flex;
	gap: 1.6em;
	padding: 0;
	margin: 0;
	background: hsl(0 0% 0% / 0.75);
	@supports (backdrop-filter: blur(1rem)) {
		backdrop-filter: blur(1rem);
		background: hsl(0 0% 100% / 0.1);
	}

	li {
		list-style-type: none;

		a {
			color: var(--on-background);
			padding: 5px 10px;
			text-decoration: none;	
			user-select: none;

			border-radius: 5px;

			background-size: 0% 3px;
			background-image: linear-gradient(
				90deg,
				rgba(var(--primary-rgb), 1) 0%,
				rgba(var(--secondary-rgb),0.71) 100%
			);
			background-repeat: no-repeat;
			background-position: left bottom;
			transition: background-size 300ms ease;
			
			&:hover {
				color: var(--secondary);
				cursor: pointer;
			}
			

			&.active {

				background-size: 100% 3px;
			}
			[aria-hidden="true"] {
				font-weight: 700;
				margin-inline-end: 0.75em;
			}
		}
	}
}

@media (max-width: 43em) {
	#primary-navigation {
		z-index: 1000;
		position: fixed;
		inset: 0 0 0 30%;
		flex-direction: column;
		padding: min(30vh, 10rem) 1.5rem;
		transform: translateX(100%);
		transition: transform ease-out 0.35s;
	}
	.mobile-nav-toggle {
		display: block;
		z-index: 9999;
		position: absolute;
		background: no-repeat center url(../../assets/menu-icon.png);
		-webkit-transition: background-image 0.1s ease-in-out;
		transition: background-image 0.1s ease-in-out;

		background-size: contain;
		border: 0;
		width: 2rem;
		aspect-ratio: 1;
		top: 2.7rem;
		right: 2rem;
		&:hover {
			cursor: pointer;
		}

		&[aria-expanded="true"] {
			background-image: url(../../assets/x-button.png);
		}
	}
}

@media (min-width: 35.625em) and (max-width: 55em) {
	#primary-navigation {
		a {
			span[aria-hidden="true"] {
				display: none;
			}
		}
	}
}

@media (min-width: 35.625em) {
	#primary-navigation {
		gap: clamp(1.5rem, 4vw, 3rem);
		padding-block: 2rem;
		padding-inline: clamp(2rem, 5vw, 10rem);
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
