#footer {
	height: 5rem;
	width: 100vw;
	padding-block: 1.8rem;
	text-align: center;

	background-color: var(--surface-dp01);
	p {
		font-size: 0.9rem;
		font-weight: 300;
	}

	.footer-social-icons {
		margin-inline: auto;
		display: flex;
		justify-content: center;
		gap: 1rem;
		max-width: 30rem;
		.footer-social-logo {
			fill: var(--on-surface);
			width: 2.5rem;
			opacity: 0.8;
			transition: all 0.1s ease;
			&:hover {
				filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
				transform: scale(1.15);
				opacity: 1;
			}
		}
	}
}
