.App {
	background-color: #012934;
	background: center  no-repeat 
		url(https://unsplash.com/photos/_cCpK2hGj3c/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjQ5MzY3NDkw&force=true&w=2400);
	background-size: cover;
	height: 100vh;
}
